body{
    background-image: url("imagenes/Oficios-PicPrincipal.jpg");
    background-size: cover;
}

h1{
    font-family: fantasy;
    font-size: 100%;
    text-align: left;
    margin-left: 7%;
    margin-top: 5.5%;
}

p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    padding: 15px;
}

.negrita{
    font-size: 430%;
    font-weight: bold;
    color: darkblue;
}

.principal{
text-align:center;
}

input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80%;
    color: black;
}

.com{
    font-size: 250%;
}